{% set page = 'subdomains' %}
{% extends 'GameProjectAdminBundle::layout.html.twig' %}

{% block mainBlock %}
    <div class="page-header">
        <h1>Update subdomain</h1>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-6">
                {% form_theme form 'form/fields.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}